html {
  font-size: 10px;
  body {
    font-size: 1.6rem;
    // .wrapper {
    //   max-width: 120rem;
    //   margin: 0 auto;
    //   padding: 0 2rem;
    // }
    p {
      line-height: 1.5;
      color: #555;
    }
  }
}

.k-border {
  @include k-border;
}

.k-border-debug {
  @include k-border-debug;

  background-color: $bg-200;
}
