html {
  font-size: 10px;
  body {
    font-size: 1.6rem;
    p {
      line-height: 1.5;
      color: #555;
    }
  }
}

.k-border {
  @include k-border;
}

.k-border-debug {
  @include k-border-debug;

  background-color: $bg-200;
}
